/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
html {
	box-sizing: border-box;
  }
  *, *:before, *:after {
	box-sizing: inherit;
  }

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}



body {
	margin: 15px 100px 15px;
    position: relative;
}

/* Top Content */

.topContent {
	display: flex;
	justify-content: space-between;
    flex-flow: row wrap;
    padding: 1px 1px 10px 1px;
}

.nav-bar a {
	margin: 0px 80px 0px 0px;
    text-decoration: none;
    justify-content: space-between;
    color: rgb(194, 194, 194);
}

.nav-bar a:hover {
	background: rgb(255, 255, 255);
	border-radius: 10px;
	color: black;
	padding: 5px;
	box-shadow: 7px 5px 5px rgb(230, 230, 230);
}

/*Mid content*/

.welcome {
	display: flex;
	justify-content: space-between;
}

.welcome-text {
	font-size: 100px;
    text-align: center;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.welcome h1 {
	padding: 15px 0px 0px 0px;
}

.welcome-text button {
	font-size: 25px;
    background-color: white;
    border-radius: 15px;
    padding: 5px 45px 5px 45px;
}

.welcome-text button:hover{
	font-size: 25px;
    background-color: rgb(0, 0, 0);
    border-radius: 15px;
	padding: 5px 45px 5px 45px;
	color: white;
}

.techArt {
	padding: 20px;
}

/*Main Content*/

.main-content {
	display: flex;
	flex-direction: column;
}

.top-text {
	display: flex;
	font-size: 130%;
	margin: 0px 0px 15px 0px;
}

.top-text div {
	padding: 0px 20px 15px 0px;
}

.middle-img {
	display: flex;
	align-self: center;
	width: -webkit-fill-available;
	border-radius: 15px
}

.bottom-text {
	display: flex;
	font-size: 130%;
	margin: 15px 0px 5px 0px;
    padding: 15px 0px 5px 0px;
}

.bottom-text div {
	margin: 0px 20px 0px 0px;
}

/* Bottom Content*/

.bottom-content {
    display: flex;
	flex-direction: column;
    justify-content: center;
}

.contact-info h4 {
	margin: 5px 5px 5px 0px;
	padding: 5px 5px 5px 0px;
}

.contact-info address {
	margin: 5px 5px 5px 0px;
	padding: 5px 5px 5px 0px;
}

.c {
	display: flex;
	justify-content: center;
	margin: 20px;
    padding: 20px;
}

hr {
	margin: 15px 0px 15px 0px;
    border: 1px solid black;
}
